// Input Range
@use "input-range" with (
  $track-color: #2a2a2a,
  $track-height: 6px,
  $track-border-width: 1px,
  $track-border-color: #494949,
  $thumb-color: #666666,
  $thumb-width: 16px,
  $thumb-height: 16px,
  $thumb-border-width: 1px,
  $thumb-border-color: #808080
);

@font-face {
  font-family: "Fira Sans";
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
  src: local("Firava"),
    url("/assets/fonts/firava-sans.woff2") format("woff2 supports variations"),
    url("/assets/fonts/firava-sans.woff2") format("woff2-variations"),
    url("/assets/fonts/firava-sans.ttf") format("truetype-variation");
}

@font-face {
  font-family: "Fira Sans";
  font-display: swap;
  font-weight: 100 900;
  font-style: italic;
  src: local("Firava Italic"),
    url("/assets/fonts/firava-sans-italic.woff2")
      format("woff2 supports variations"),
    url("/assets/fonts/firava-sans-italic.woff2") format("woff2-variations"),
    url("/assets/fonts/firava-sans-italic.ttf") format("truetype-variation");
}

* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --font-sans-serif: "Fira Sans", -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica,
    arial, sans-serif;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;

  --color-neutral-09: #171717;
  --color-neutral-12: #1f1f1f;
  --color-neutral-16: #2a2a2a;
  --color-neutral-19: #303030;
  --color-neutral-20: #343434;
  --color-neutral-22: #393939;
  --color-neutral-24: #3c3c3c;
  --color-neutral-25: #404040;
  --color-neutral-29: #494949;
  --color-neutral-30: #4d4d4d;
  --color-neutral-40: #666666;
  --color-neutral-45: #737373;
  --color-neutral-50: #808080;
  --color-neutral-60: #999999;
  --color-neutral-70: #b3b3b3;
  --color-neutral-80: #cccccc;
  --color-neutral-85: #d9d9d9;
  --color-neutral-90: #e6e6e6;

  --color-blue-46: #206ec9;

  --duration: 500ms;
  --duration-fast: 200ms;

  --background-color: var(--color-neutral-09);
  --scrollbar-track-color: var(--background-color);
}

// Scrollbar styles
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(#fff, 0.35);
  border-radius: 8px;
  border: 2px solid var(--scrollbar-track-color);
}

// HTML and Body
html,
body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--color-neutral-90);
}

html {
  font-family: var(--font-sans-serif);
}

.layout {
  position: fixed;
  inset: 0px;

  display: flex;
  flex-direction: column;

  &__header {
    flex-shrink: 0;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--color-neutral-16);
  }

  &__content {
    // Ensures that the content area grows without exceeding the parent box
    flex: 1;
    min-height: 0;
  }
}

.card {
  --card-bg-color: var(--color-neutral-16);
  --scrollbar-track-color: var(--card-bg-color);

  background-color: var(--card-bg-color);
  border: 1px solid var(--color-neutral-19);
  border-radius: 4px;
}

.button {
  background-color: var(--color-neutral-22);
  border: 1px solid var(--color-neutral-29);
  border-radius: 6px;
  color: var(--color-neutral-90);
}

.connection {
  $height: 40px;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;

  &__refresh {
    flex-shrink: 0;
    width: $height;
    height: $height;
    font-size: 16px;
  }

  &__status {
    width: 8px;
    height: $height;
    border-radius: 6px 0px 0px 6px;
    flex-shrink: 0;
    border: 1px solid transparent;
    margin-right: -8px;
    box-shadow: 0px 0px 16px var(--connection-status-color);
    background-color: var(--connection-status-color);
    border-color: var(--connection-status-border-color);
    z-index: 1;

    &--connected {
      --connection-status-color: #8cda0f;
      --connection-status-border-color: #598612;
    }

    &--disconnected {
      --connection-status-color: #ff0077;
      --connection-status-border-color: #90124d;
    }
  }

  &__url {
    flex-grow: 1;
    height: 40px;
    font-size: 16px;
    width: 100%;
    border: 0;
    border-radius: 0px 6px 6px 0px;
    background-color: var(--color-neutral-22);
    border-color: var(--color-neutral-29);
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    padding-left: 8px;
    color: var(--color-neutral-90);

    &:focus {
      outline: none;
    }
  }

  &__polling {
    display: flex;
    align-items: center;
  }
}

.polling {
  display: flex;
  align-items: center;
  gap: 4px;
  opacity: 0.75;

  &--auto {
    opacity: 1;
  }

  &__label {
    flex-shrink: 0;
    text-wrap: nowrap;
    font-size: 14px;
  }

  &__range {
    width: 50px;
  }

  &__value {
    font-size: 12px;
    width: 45px;
    text-align: center;
  }
}

.entities-tool {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 4px;
  padding: 4px;

  &__hierarchy {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__details {
    width: 100%;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-content: start;
    gap: 4px;
    padding-right: 4px;
  }
}

.entity-tree {
  $dim-opacity: 0.35;

  --level: var(--entity-tree-level, 0);
  --level-padding: 12px;
  --item-height: 24px;
  --chevron-width: 12px;
  --chevron-margin: 2px;

  position: relative;
  height: 100%;
  color: var(--color-neutral-85);

  &--children:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(var(--level-padding) * var(--level) - var(--chevron-margin));
    border-left: 1px solid var(--color-neutral-25);
    opacity: 0;
    transition: opacity var(--duration);
  }

  &:hover {
    .entity-tree--children:before {
      opacity: 1;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    min-height: var(--item-height);
    padding-left: calc(var(--level-padding) * var(--level));
    padding-right: 4px;
    position: relative;
    border-radius: 4px;
    z-index: 0;

    &:hover,
    &--active,
    &--pinned {
      color: var(--color-neutral-90);

      &::before,
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        left: calc(
          var(--level-padding) * var(--level) + var(--chevron-width) +
            var(--chevron-margin)
        );
        border-radius: 4px;
      }
    }

    &--active,
    &--pinned {
      &::before {
        background-color: var(--color-neutral-25) !important;
        z-index: -1;
      }
    }

    &--active {
      &::after {
        border: 2px solid var(--color-blue-46);
      }
    }

    &:hover {
      cursor: pointer;

      &::before {
        background-color: rgba(#fff, 0.05);
      }
    }
  }

  &__chevron {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--chevron-width);
    height: var(--item-height);
    padding-left: 2px;
    margin-right: var(--chevron-margin);
    font-size: 0.9em;
  }

  &__kind {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--item-height);
    height: var(--item-height);
    font-size: 0.85em;

    &--Entity {
      opacity: $dim-opacity;
    }
  }

  &__name {
    padding-inline: 2px 4px;
    padding-block: 4px;
    font-size: 12px;
    line-height: 1.2em;
    text-wrap: pretty;

    &--placeholder {
      opacity: $dim-opacity;
    }
  }

  &__id {
    margin-left: auto;
    font-family: var(--font-mono);
    font-size: 0.65em;
    opacity: 0.4;
  }
}

.icon {
  $height: 1.2em;

  display: inline-block;
  background-color: currentColor;
  vertical-align: text-bottom;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;

  flex-shrink: 0;
  height: $height;
  width: calc(#{$height} * var(--icon-ratio));
  -webkit-mask-image: var(--icon-url);
  mask-image: var(--icon-url);
}

.tabs {
  display: flex;
  gap: 4px;
  padding-top: 4px;
  padding-inline: 4px;
  border-top: 1px solid var(--color-neutral-16);

  &__item {
    height: 32px;
    display: flex;
    align-items: center;
    gap: 4px;

    border-radius: 4px;
    border: 1px solid var(--color-neutral-20);
    padding: 2px 12px;

    color: var(--color-neutral-70);
    font-size: 14px;
    font-weight: medium;
    cursor: pointer;

    &:hover {
      background-color: var(--color-neutral-16);
    }

    &--active {
      color: var(--color-neutral-90);
      background-color: var(--color-neutral-20) !important;
    }

    .icon {
      font-size: 0.9em;
      margin-left: -2px;
    }
  }
}

.entity-inspector {
  $header-height: 24px;

  height: fit-content;
  position: relative;

  &__header {
    position: sticky;
    top: 0px;
    z-index: 999;

    display: flex;
    align-items: center;
    font-size: 12px;
    height: $header-height;
    padding-left: 4px;
    background-color: #aaa;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
  }

  &__kind-icon {
    margin-right: 4px;
  }

  &__pin {
    width: $header-height;
    height: $header-height;

    display: flex;
    align-items: center;
    justify-self: center;

    margin-left: auto;
    cursor: pointer;

    &:hover {
      background-color: rgba(#000, 0.05);
    }
  }

  strong {
    word-break: break-all;
  }

  &--active {
    background-color: rgba(#000, 0.05);
  }
}

.component {
  &__header {
    min-height: 24px;
    position: sticky;
    top: 24px;

    display: flex;
    align-items: center;

    background-color: #ccc;
    font-size: 12px;
    font-weight: bold;
    padding-inline: 4px;
    padding-block: 4px;
  }

  &__value {
    padding: 2px;
  }

  &__no-value,
  &__not-registered {
    font-size: 12px;
    padding: 4px;
  }

  &__not-registered {
    color: #800000;
  }
}

.types-tool {
  height: 100%;
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 4px;
  padding: 4px;

  &__sidebar {
    overflow-y: auto;
  }

  &__sidebar-header {
    padding: 4px;
    margin-bottom: 8px;
    position: sticky;
    top: 0px;
  }

  &__filter {
    width: 100%;
  }

  &__types {
    display: flex;
    flex-direction: column;
  }

  &__type {
    display: flex;
    align-items: center;
    font-size: 12px;
    word-break: break-word;
    padding: 2px 4px;
    min-height: 20px;

    &:hover {
      background-color: rgba(yellow, 0.25);
      cursor: pointer;
    }
  }

  &__schema {
    overflow-y: auto;
  }
}

.type {
  &__name {
    font-weight: bold;
    word-break: break-all;
    margin-bottom: 4px;
  }

  &__schema {
    table {
      font-size: 12px;

      pre {
        margin: 0;
      }
    }

    pre {
      word-break: break-all;
      text-wrap-mode: inherit;
    }
  }
}

.json-value {
  display: inline-block;
  font-family: var(--font-mono);
  font-size: 12px !important;
  word-break: break-all;
  margin-left: -2px;
  padding-left: 1ch;

  &--null {
    color: #9d361f;
  }

  &--bool {
    color: #8e5c00;
  }

  &--number-negative {
    color: #0e46af;
    padding-left: 0;
  }

  &--number-positive {
    color: #610eaf;
  }

  &--string {
    color: green;
  }
}

.json-value-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #bbb;
  border-left: 1.5px solid #999;
  font-size: 12px !important;

  th,
  td {
    border: 1px solid #bbb;
  }

  th {
    background-color: #eee;
    padding-inline: 4px;
    text-align: left;
    // white-space: nowrap;
  }

  td {
    background-color: #fff;
    padding: 2px;
    width: 100%;
  }
}
