// Input Range
@use "input-range" with (
  $track-color: #2a2a2a,
  $track-height: 6px,
  $track-border-width: 1px,
  $track-border-color: #494949,
  $thumb-color: #666666,
  $thumb-width: 16px,
  $thumb-height: 16px,
  $thumb-border-width: 1px,
  $thumb-border-color: #808080
);

@font-face {
  font-family: "Fira Sans";
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
  src: local("Firava"),
    url("/assets/fonts/firava-sans.woff2") format("woff2 supports variations"),
    url("/assets/fonts/firava-sans.woff2") format("woff2-variations"),
    url("/assets/fonts/firava-sans.ttf") format("truetype-variation");
}

@font-face {
  font-family: "Fira Sans";
  font-display: swap;
  font-weight: 100 900;
  font-style: italic;
  src: local("Firava Italic"),
    url("/assets/fonts/firava-sans-italic.woff2")
      format("woff2 supports variations"),
    url("/assets/fonts/firava-sans-italic.woff2") format("woff2-variations"),
    url("/assets/fonts/firava-sans-italic.ttf") format("truetype-variation");
}

* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --font-sans-serif: "Fira Sans", -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica,
    arial, sans-serif;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;

  --color-neutral-05: #0d0d0d;
  --color-neutral-09: #171717;
  --color-neutral-11: #1c1c1c;
  --color-neutral-12: #1f1f1f;
  --color-neutral-16: #2a2a2a;
  --color-neutral-19: #303030;
  --color-neutral-20: #343434;
  --color-neutral-22: #393939;
  --color-neutral-24: #3c3c3c;
  --color-neutral-25: #404040;
  --color-neutral-27: #444444;
  --color-neutral-29: #494949;
  --color-neutral-30: #4d4d4d;
  --color-neutral-40: #666666;
  --color-neutral-45: #737373;
  --color-neutral-50: #808080;
  --color-neutral-60: #999999;
  --color-neutral-70: #b3b3b3;
  --color-neutral-75: #bfbfbf;
  --color-neutral-80: #cccccc;
  --color-neutral-85: #d9d9d9;
  --color-neutral-90: #e6e6e6;

  --color-blue-46: #206ec9;

  --weight-thin: 100;
  --weight-extra-light: 200;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;
  --weight-black: 800;

  --duration: 500ms;
  --duration-fast: 200ms;

  --background-color: var(--color-neutral-09);
  --scrollbar-track-color: var(--background-color);
  --json-value-highlight-color: #{rgba(#fff, 0.025)};
}

@mixin click-scale() {
  transition: transform var(--duration-fast);

  &:active {
    transform: scale(0.95);
  }
}

// Scrollbar styles
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(#fff, 0.35);
  border-radius: 8px;
  border: 2px solid var(--scrollbar-track-color);
}

// HTML and Body
html,
body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--color-neutral-90);
}

html {
  font-family: var(--font-sans-serif);
}

.layout {
  position: fixed;
  inset: 0px;

  display: flex;
  flex-direction: column;

  &__header {
    flex-shrink: 0;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--color-neutral-16);
  }

  &__content {
    // Ensures that the content area grows without exceeding the parent box
    flex: 1;
    min-height: 0;
  }
}

.card {
  --background-color: var(--color-neutral-16);
  --scrollbar-track-color: var(--color-neutral-16);

  background-color: var(--background-color);
  border: 1px solid var(--color-neutral-19);
  border-radius: 4px;
}

.button {
  @include click-scale();

  background-color: var(--color-neutral-22);
  border: 1px solid var(--color-neutral-29);
  border-radius: 6px;
  color: var(--color-neutral-80);
  cursor: pointer;

  &:hover {
    background-color: var(--color-neutral-25);
    color: var(--color-neutral-90);
  }
}

.text-input {
  width: 100%;
  height: 32px;

  background-color: var(--color-neutral-22);
  border-radius: 6px;
  border: 1px solid var(--color-neutral-29);
  padding-inline: 8px;

  font-size: 14px;
  color: var(--color-neutral-90);

  &--large {
    height: 40px;
    font-size: 16px;
  }

  &:focus {
    outline: none;
  }
}

@keyframes pulse-opacity {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.connection {
  $height: 40px;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;

  &__refresh {
    flex-shrink: 0;
    width: $height;
    height: $height;
    font-size: 16px;
  }

  &__status {
    width: 8px;
    height: $height;
    border-radius: 6px 0px 0px 6px;
    flex-shrink: 0;
    border: 1px solid transparent;
    margin-right: -8px;
    box-shadow: 0px 0px 16px var(--connection-status-color);
    background-color: var(--connection-status-color);
    border-color: var(--connection-status-border-color);
    z-index: 1;

    &--connected {
      --connection-status-color: #8cda0f;
      --connection-status-border-color: #598612;
    }

    &--disconnected {
      --connection-status-color: #ff0077;
      --connection-status-border-color: #90124d;
      animation: pulse-opacity 2s ease-in-out infinite;
    }
  }

  &__url {
    flex-grow: 1;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-width: 0px;
  }

  &__polling {
    display: flex;
    align-items: center;
  }
}

.polling {
  display: flex;
  align-items: center;
  gap: 4px;
  opacity: 0.75;

  &--auto {
    opacity: 1;
  }

  &__label {
    flex-shrink: 0;
    text-wrap: nowrap;
    font-size: 14px;
  }

  &__range {
    width: 50px;
  }

  &__value {
    font-size: 12px;
    width: 45px;
    text-align: center;
  }
}

.sidebar-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 4px;
  padding: 4px;

  &__sidebar {
    @extend .card;

    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__content {
    width: 100%;
    overflow-y: auto;
  }
}

.entities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-content: start;
  gap: 4px;
  padding-right: 4px;
}

.item-tree {
  --dim-opacity: 0.35;
  --level: var(--item-tree-level, 0);
  --level-padding: 12px;
  --item-padding-left-base: 0px;
  --item-height: 24px;
  --chevron-width: 12px;
  --chevron-margin: 2px;

  position: relative;
  height: 100%;
  color: var(--color-neutral-85);

  &--flat {
    --item-padding-left-base: 4px;
    --chevron-width: 0px;
    --chevron-margin: 0px;

    padding-left: 2px;
  }

  &--root {
    padding-block: 2px;
  }

  &--children:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(var(--level-padding) * var(--level) - var(--chevron-margin));
    border-left: 1px solid var(--color-neutral-25);
    opacity: 0;
    transition: opacity var(--duration);
  }

  &:hover {
    .item-tree--children:before {
      opacity: 1;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    min-height: var(--item-height);
    padding-left: calc(
      var(--item-padding-left-base) + var(--level-padding) * var(--level)
    );
    padding-right: 4px;
    position: relative;
    border-radius: 4px;
    z-index: 0;
    color: var(--color-neutral-75);

    &:hover,
    &--active,
    &--pinned {
      color: var(--color-neutral-90);

      &::before,
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        left: calc(
          var(--level-padding) * var(--level) + var(--chevron-width) +
            var(--chevron-margin)
        );
        right: 2px;
        border-radius: 4px;
      }
    }

    &--active,
    &--pinned {
      &::before {
        background-color: var(--color-neutral-25) !important;
        z-index: -1;
      }
    }

    &--active {
      &::after {
        border: 2px solid var(--color-blue-46);
      }
    }

    &:hover {
      cursor: pointer;

      &::before {
        background-color: rgba(#fff, 0.05);
      }
    }
  }

  &__chevron {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--chevron-width);
    height: var(--item-height);
    padding-left: 2px;
    margin-right: var(--chevron-margin);
    font-size: 0.9em;
  }

  &__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--item-height);
    height: var(--item-height);
    font-size: 0.85em;
  }

  &__name {
    padding-inline: 2px 4px;
    padding-block: 4px;
    font-size: 12px;
    line-height: 1.3em;
    text-wrap: pretty;

    &--placeholder {
      opacity: var(--dim-opacity);
    }
  }

  &__id {
    margin-left: auto;
    font-family: var(--font-mono);
    font-size: 0.65em;
    opacity: 0.4;
    padding-right: 2px;
  }
}

.kind-icon {
  &--Entity {
    opacity: var(--dim-opacity);
  }

  // &--Light {
  //   color: #ffc800;
  // }
}

.icon {
  $height: 1.2em;

  display: inline-block;
  background-color: currentColor;
  vertical-align: text-bottom;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;

  flex-shrink: 0;
  height: $height;
  width: calc(#{$height} * var(--icon-ratio));
  -webkit-mask-image: var(--icon-url);
  mask-image: var(--icon-url);
}

.tabs {
  display: flex;
  gap: 4px;
  padding-top: 4px;
  padding-inline: 4px;
  border-top: 1px solid var(--color-neutral-16);

  &__item {
    @include click-scale();

    height: 32px;
    display: flex;
    align-items: center;
    gap: 4px;

    border-radius: 4px;
    border: 1px solid var(--color-neutral-20);
    padding: 2px 12px;

    color: var(--color-neutral-70);
    font-size: 14px;
    font-weight: var(--weight-medium);
    cursor: pointer;

    &:hover {
      background-color: var(--color-neutral-16);
    }

    &--active {
      color: var(--color-neutral-90);
      background-color: var(--color-neutral-20) !important;
      border: 1px solid var(--color-neutral-29);
    }

    .icon {
      font-size: 0.9em;
      margin-left: -2px;
    }
  }
}

.inspector-card {
  --border-color: var(--color-neutral-19);
  --background-color: var(--color-neutral-16);

  $header-height: 24px;
  $dim-opacity: 0.5;

  height: fit-content;
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-color);

  // This is a hack so the to show the background color behind the header
  // rounded corners. Otherwise the content side-borders would be visible.
  // Change `background-color` to `red` or `transparent` to see the effect.
  &__header-wrapper {
    position: sticky;
    top: 0px;
    z-index: 1;

    margin: -1px -1px 0 -1px;
    background-color: var(--color-neutral-09);
  }

  &__header {
    display: flex;
    align-items: center;
    height: $header-height;

    background-color: var(--color-neutral-05);

    border-radius: 4px 4px 0 0;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: var(--border-color);

    font-weight: var(--weight-normal);
    font-size: 12px;
  }

  &__name {
    &--placeholder {
      opacity: $dim-opacity;
    }
  }

  &__id {
    opacity: $dim-opacity;
    margin-left: auto;
  }

  &__icon,
  &__pin {
    width: $header-height;
    height: $header-height;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pin {
    margin-left: 4px;
    cursor: pointer;

    &:hover {
      background-color: rgba(#fff, 0.05);
    }
  }

  strong {
    word-break: break-all;
  }

  &--active {
    --border-color: var(--color-blue-46);
    --background-color: hsl(212, 5%, 18%);
  }
}

.component {
  &:hover {
    .component__header {
      color: var(--color-neutral-90);
    }

    .component__open-icon {
      opacity: 0.8;
    }
  }

  &__header {
    min-height: 24px;
    position: sticky;
    top: 24px;

    display: flex;
    align-items: center;

    background-color: var(--color-neutral-25);
    color: var(--color-neutral-80);
    font-size: 12px;
    font-weight: var(--weight-medium);
    padding-inline: 4px;
    padding-block: 4px;
    cursor: pointer;

    &--closed {
      .component__open-icon {
        transform: rotate(90deg);
      }
    }
  }

  &__open-icon {
    margin-left: auto;
    opacity: 0.4;
    transition: transform var(--duration-fast), opacity var(--duration-fast);
  }

  &__value {
    padding: 2px;
  }
}

.issue {
  font-size: 12px;
  padding: 4px;
  color: #da4a81;

  &--no-value {
    color: var(--color-neutral-45);
  }
}

.types-filter {
  padding: 4px;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: var(--background-color);

  &__input {
    width: 100%;
  }
}

.type-schema {
  padding: 2px;

  table {
    font-size: 12px;

    pre {
      margin: 0;
    }
  }

  pre {
    word-break: break-all;
    text-wrap-mode: inherit;
  }
}

.required {
  color: #ff0073;
  font-weight: normal !important;
  margin-left: 2px;
}

.json-value {
  display: inline-block;
  font-family: var(--font-mono);
  font-size: 12px !important;
  word-break: break-all;
  margin-left: -2px;
  padding-left: 1ch;

  &--null {
    color: #ff7268;
  }

  &--true {
    color: #96d235;
  }

  &--false {
    color: #e9b03d;
  }

  &--number-negative {
    color: #53a1ef;
    padding-left: 0;
  }

  &--number-positive {
    color: #ba71ff;
  }

  &--string {
    color: #96d235;
  }
}

.json-value-empty {
  font-size: 12px;
  padding: 2px 4px;
  opacity: 0.5;
}

.json-value-key-list {
  --header-bg-color: var(--color-neutral-12);
  --border-radius: 4px;

  display: flex;
  flex-direction: column;
  gap: 2px;

  &__item {
    &:hover {
      > .json-value-key-list__key {
        color: var(--color-neutral-90);
      }

      > .json-value-key-list__value {
        background-color: var(--json-value-highlight-color);
      }
    }
  }

  &__key {
    padding: 2px 4px;
    background-color: var(--header-bg-color);
    color: var(--color-neutral-70);
    font-size: 12px;
    font-weight: var(--weight-light);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  &__value {
    padding: 2px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: var(--header-bg-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
}

.json-value-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--color-neutral-12);
  border-left: 2px solid var(--color-neutral-11);
  font-size: 12px !important;

  &--array {
    > tr > th {
      color: var(--color-neutral-60);
    }
  }

  tr:hover {
    background-color: var(--json-value-highlight-color);

    > th {
      color: var(--color-neutral-90);
    }
  }

  th,
  td {
    border: 1px solid var(--color-neutral-12);
  }

  th {
    padding: 2px 4px;
    text-align: left;
    overflow-wrap: break-word;
    font-weight: var(--weight-normal);
    background-color: rgba(#000, 0.1);
    color: var(--color-neutral-70);
  }

  td {
    padding: 2px;
    width: 100%;
  }
}
